.servicios {
    width: 60%;
    margin: 2em auto;
    box-sizing: border-box;
}

.servicios table {
    text-align: center;
    border: 5px dashed black;
    caption-side: bottom;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    margin: 5px;
    color: rgb(3, 8, 66);
}

caption,
th {
    color: white;
}

table tr:nth-child(odd) {
    background-color: #6a478c;
}

table tr:nth-child(even) {
    background-color: #a98ad9;
}

table tr:first-child {
    background-color: #3d2068;
}

.servicios img {
    margin: 2% 14%;
}